header {
  border-bottom: 2px solid #ddd;
  margin-bottom: 2em;
  padding: 2em 0;
  color: #999;
}
footer {
  border-top: 2px solid #ddd;
  margin-top: 4em;
  padding: 2em 0;
  color: #999;
}
code {
  background-color: #f0f0f0;
  color: #000;
}
pre {
  border: 1px solid #ccc;
  padding: 2em;
  background-color: transparent;
  margin: 2em 0;
}
pre code.hljs {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  padding: 0;
  background-color: transparent;
}
.alert-danger pre {
  border-color: #a94442;
}
p {
  margin: 1.5em 0;
}
a h2, a h3 {
  color: #333;
}
.preview {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 2em 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
pre.value {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #dff0d8;
  display: none;
}
